<div class="row">
    <div class="col-md-6 col-md-offset-3" id="carousel">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active" id="image1">
            <%= image_tag("girlbed.jpg", :alt => "Girls Bed") %>
            </div>
            <div class="item" id="image2">
            <%= image_tag("bunkbed.jpg", :alt => "Bunk Bed") %>
            </div>
            <div class="item" id="image3">
            <%= image_tag("waterbed.jpg", :alt => "Water Bed") %>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        </div>
    </div>
</div>

<div class="row" id="article">
    <div class="col-md-4" id="art1">
        <h2>View Inventory</h2>
    </div>
    <div class="col-md-4" id="art2">
        <h2>Make a Reservation</h2>
    </div>
    <div class="col-md-4" id="art3">
        <h2>FAQ</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-12" id="description-title">
        <h3>What Is Bedbox?</h3>
    </div>
</div>
<div class="row" id="description">
    <div class="col-md-8 col-md-offset-2">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean placerat suscipit metus, ut consequat turpis. Donec eros risus, suscipit sed mi et, tristique posuere quam. Nullam eget ligula tortor. Etiam eu dignissim ante. Etiam laoreet at velit eu convallis. Maecenas pulvinar felis vitae est mollis eleifend. In sit amet lacus vitae diam varius sodales. Praesent eu scelerisque ex. Donec ultrices luctus iaculis. Suspendisse non dignissim enim, id interdum leo. Nam elementum gravida mi, id pretium odio molestie a. Aliquam pretium varius venenatis. Vestibulum elit nunc, placerat vitae massa sit amet, pretium accumsan mi. Duis ligula urna, dictum quis tincidunt in, sodales sed lorem. Duis luctus sem non fringilla placerat.</p>
    </div>
</div>
